* {
    background-color: #0A1428;
}

.titulo {
    color: #C89B3C;
    font-weight: bold;
    font-size: 8vh;
}

.bienvenida {

    font-weight: lighter;
    border-bottom: solid #C89B3C;
    border-width: 0.2vh;
    color: #C89B3C;
    padding-bottom: 1vh;
}
.APIs{
    display: flex;
}
.API {
    padding: 2vh;
    font-size: 5vh;
    margin: 2vh;
    border: solid #463714;
    border-radius: 8px ;
    width: 100%;
    box-shadow: 0px 0px 7px #C89B3C;
}

h1{
    color: #F0E6D2;
    z-index: 2;
    background-color: transparent;
    /* AQUI DEBEMOS COLOCAR EL ESTILO DE FUENTE QUE QUEREMOS*/
    text-align: center;
    text-shadow: 5px 5px 5px black;
}
h2{
    font-size: 3vh;
    color: #F0E6D2;
    /*AQUI DEBE PONERSE EL ESTILO DE FUENTE QUE SE DEBE DESCARGAR*/
    font-weight:lighter;
    text-align: justify;
}

.img{
    border: dashed #C89B3C;
    border-radius: 8px;
    padding: 2vh;
}

.boton{
    display: flex;
    padding-top: 2vh;
    margin-bottom: -2vh;
    justify-content: center;
}

.botonStyle{
    border: 0;
    background-color: #C89B3C;
    border-radius: 8px;
    color: #F0E6D2;
    display: flex;
    font-size: 18px;
    padding: 8px 8px;
    cursor: pointer;
    transition: .3s;
    font-weight: bolder;
}
span{
    background-color: #785A28;
    padding: 20px 50px;
    border-radius: 6px;
    transition: .3s;
}
button:hover span{
    background: none;
}

.nota_de_pie {
    align-items: end;
    background-color: #C89B3C;
    border: solid #C89B3C;
}

.creditos {
    color: #0A1428;
    font-weight: lighter;
    background: transparent;
    padding-left: 2vh;
    padding-bottom: 2vh;
    border-bottom: solid #0A1428;
}