@font-face {
    font-family: "Titulos Lol";
    src: url("./BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf");
}

@font-face {
    font-family: "Botones";
    src: url("./BeaufortForLoL-OTF/BeaufortforLOL-Italic(1).otf");
}

body {
    display: flex;
    justify-content: baseline;
    background-color: #0A1428;
    flex-direction: row;
    cursor: url("./cursores/link.cur"), auto;
}

.superior {
    display: flex;
    flex-direction: column;
}

.regresar {
    border: white;
}
.logotipo {
    height: 200px;
    width: 400px;
}

.cuadro {
    background-color: #C89B3C;
}

.encabezado {
    margin: 3%;
    width: 100%;
    font-family: "Titulos Lol";
    text-align: justify;
}

.botonAtras{
    padding: 3vh;
}
.ATRAS{
    border-radius: 8px;
    padding: 2vh;
    background-color: #C89B3C;
    box-shadow:5px 5px 10px #0AC8B9;
}

.todas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}
.ALL {
    background-color: #0A1428;
    padding: 2%;
    border-radius: 8px;
}

.lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}


.TOP {
    background-color: #0A1428;
    border-radius: 8px;
    padding: 2vh;
    border: solid #C89B3C;
}

.TOP:hover{
    box-shadow: 0 0 20px #0AC8B9;
}



.JG {
    background-color: #0A1428;
    margin-top: 20%;
    border-radius: 8px;
    padding: 2vh;
    border: solid #C89B3C;
}

.JG:hover{
    box-shadow: 0 0 20px #0AC8B9;
}

.MID {
    background-color: #0A1428;
    margin-top: 20%;
    border-radius: 8px;
    padding: 2vh;
    border: solid #C89B3C;
}

.MID:hover{
    box-shadow: 0 0 20px #0AC8B9;
}

.BOT {
    background-color: #0A1428;
    margin-top: 20%;
    border-radius: 8px;
    padding: 2vh;
    border: solid #C89B3C;
}

.BOT:hover{
    box-shadow: 0 0 20px #0AC8B9;
}

.SUPPORT {
    border-radius: 8px;
    padding: 2vh;
    background-color: #0A1428;
    margin-top: 20%;
    border: solid #C89B3C;
}

.SUPPORT:hover{
    box-shadow: 0 0 20px #0AC8B9;
}


.Campeones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 717px;
    width: 1215px;
    margin-left: 50px;
    border: 10px solid #785A28;
    background-color: #5B5A56;
}

.TextoRec {
    font-family: "Titulos Lol";
    color: #C89B3C;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}