.home{
    display: flex;
}
body {
    margin: 0;
    background-color: #0A1428;
    flex-direction: row;
}

.botonAtras {
    padding: 3vh;
}

.regreso {
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #0A1428;
    color: #C8AA6E;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
 }
 
 .regreso:hover{
     color: #C89B3C;
 }
 
 .regreso  span {
     position: absolute;
     background: #C89B3C;
     transition: .5s;
 }
 
 button span:nth-child(1){
     width: 100%;
     height: 1px;
     top: 0;
     left: -100%;
 }
 
 .regreso:hover span:nth-child(1){
     left: 0;
 }
 
 button span:nth-child(2){
     width: 100%;
     height: 1px;
     bottom: 0;
     right: -100%;
 }
 
 .regreso:hover span:nth-child(2){
     right: 0;
 }
 
 button span:nth-child(3){
     width: 1px;
     height: 100%;
     top: -100%;
     right: 0;
 }
 
 .regreso:hover span:nth-child(3){
     top: 0;
 }
 
 button span:nth-child(4){
     width: 1px;
     height: 100%;
     bottom: -100%;
     left: 0;
 }
 
 .regreso:hover span:nth-child(4){
     bottom: 0;
 }
.todas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
}

.ALL {
    background-color: #0A1428;
    padding: 2%;
    border-radius: 8px;
}

.lateral {
    border: solid #C89B3C;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.Asesino {
    background-color: #0A1428;
    border-radius: 8px;
    padding: 2vh;
    border: solid #C89B3C;
}

.Asesino:hover {
    box-shadow: 0 0 20px #0AC8B9;
}



.Peleador {
    background-color: #0A1428;
    border-radius: 8px;
    padding: 2vh;
    border: solid #C89B3C;
}

.Peleador:hover {
    box-shadow: 0 0 20px #0AC8B9;
}

.Mago {
    background-color: #0A1428;
    border-radius: 8px;
    padding: 2vh;
    border: solid #C89B3C;
}

.Mago:hover {
    box-shadow: 0 0 20px #0AC8B9;
}

.Tirador {
    background-color: #0A1428;
    border-radius: 8px;
    padding: 2vh;
    border: solid #C89B3C;
}

.Tirador:hover {
    box-shadow: 0 0 20px #0AC8B9;
}

.Soporte {
    border-radius: 8px;
    padding: 2vh;
    background-color: #0A1428;
    border: solid #C89B3C;
}

.Soporte:hover {
    box-shadow: 0 0 20px #0AC8B9;
}

.Tanque {
    border-radius: 8px;
    padding: 2vh;
    background-color: #0A1428;
    border: solid #C89B3C;
}

.Tanque:hover {
    box-shadow: 0 0 20px #0AC8B9;
}
.contenedorChamps{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Campeones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 700px;
    margin: 50px;
    border: 10px solid #785A28;
    background-color: #5B5A56;
}

.TextoRec {
    font-family: "Titulos Lol";
    color: #C89B3C;
    color: #C89B3C;
    text-align: center;

}